[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "<2.0.0"

[packages]
pandas = "*"
pandas-datareader = "*"
matplotlib = "*"
numpy = "*"
beautifulsoup4 = "*"
scikit-learn = "*"
mpl-finance = "*"

[requires]
python_version = "2.7"
